.navbar{

    padding:15px 0;

}

.navbar-brand{

    font-size:1.5rem;

    letter-spacing:.5px;

}

.nav-link{

    color:white !important;

    margin-left:15px;

    transition:.3s;

}

.nav-link:hover{

    color:#ffc107 !important;

}

.navbar button{

    border-radius:8px;

    padding:8px 18px;

}